@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

// Fuentes
$font: 'League Spartan', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tablet-xl: 992px;
$desktop: 1200px;

// Colores
$darkGray: hsl(0, 0%, 63%);
$veryDarkGray: hsl(0, 0%, 27%);
$white: #fff;
$black: #000;
